.center-text {
    text-align: center;
}

.flexify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-element {
    display: inline-block
}


